<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.domainjo.ridetravel"
        version   = "1.1">
    <!--
      1.0
      - white background of icons
      - added icon for iPad
      - added 152 icon
    -->

    <preference name="phonegap-version"/>

    <name>RideTravel</name>

    <description>Cheap Flights, Hotels and Travel Deals | Ridetravel.com</description>

    <author href="http://ridetravel.com/" >RideTravel</author>


    <!--
        Enable individual API permissions here.
        The "device" permission is required for the 'deviceready' event.
    -->

    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin"/>
    <gap:plugin name="org.apache.cordova.splashscreen" />


    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.

    -->
    <preference name="permissions"  value="none"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="5000" />

    <!-- Customize your app and platform with the preference element. -->
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="android-minSdkVersion" value="7" />




    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>

    <gap:splash gap:platform="android" gap:qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />


    <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
    <!-- <access origin="http://127.0.0.1*"/> allow local pages -->
    <allow-navigation href="*" />
    <access origin="*" />
    <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

</widget>
